<a href="https://colab.research.google.com/github/dlorodriguesprogramador/estudos_de_analise_de_dados/blob/main/programacao_python_para_dados/programacao_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Módulo 1 - Programação em Python**

Nesse Módulo vamos estudar a sintaxe nativa do Python.

**O que é Python?**

Python é uma linguagem de programação popular. Foi criado por Guido Van Rossum e lançado em 1991.

**Python pode ser usado para:**
  1. Inteligência Artificial;
  2. Machine Learning;
  3. Desenvolvimento de Software;
  4. Desenvolvimento de Aplicativos;
  5. Automações (RPA);
  6. IoT (Internet das Coisa);
  7. Muitas outras.

# **1. Sintaxe básica**

Podemos utilizar '' (aspas simples)

Podemos utlizar "" (aspas duplas)

Utilizando o \n para pular uma linha na impressão do valor

Usamos o hastgag # para comentar algo

In [4]:
print('Olá Mundo')
print("Olá Mundo")
print('Olá Mundo \nOlá Mundo')

Olá Mundo
Olá Mundo
Olá Mundo
Olá Mundo

In [5]:
# Comentario !!!!
# Posso escrever qualquer coisa quando usamos #.

# **2. Operadores matemáticos**

Os operadores são usados para realizar operações em variáveis e valores.

  1. Soma
  2. Subtração
  3. Multiplicação
  4. Divisão
  5. Exponenciação
  6. Resto da Divisão
  7. Divisão de Chão

In [6]:
# Soma
10 + 10

20

In [7]:
# Subtração
15 - 8

7

In [8]:
# Multiplicação
2 * 12

24

In [9]:
# Divisão
35 / 5

7.0

In [10]:
# Exponenciação
2 ** 4

16

In [11]:
# Resto da Divisão
4 % 5

4

In [12]:
# Divisão de Chão
3 // 5

0

In [13]:
# Priorização
(10 + 5) * 2

30

# **3. Variáveis**

Variáveis são contêineres para armazenar valores de dados.

Uma variável é criada no momento em que você atribui um valor a ela.

In [14]:
# Variáveis
nome = 'Douglas Rodrigues'
nome

'Douglas Rodrigues'

In [15]:
qualquer_nome_que_quiser = 'Variável'
qualquer_nome_que_quiser

'Variável'

In [17]:
# Variáveis de Texto
var_texto_01 = 'Olá Mundo'
var_texto_02 = str('Olá Mundo 1')

print(var_texto_01, var_texto_02)

Olá Mundo Olá Mundo 1

In [18]:
# Variáveis Numericas
var_numerica_01 = 10
var_numerica_02 = int(20)

print(var_numerica_01, var_numerica_02)

10 20

In [19]:
# Variáveis Flutuantes
var_flutuante_01 = 10.5
var_flutuante_02 = float(20.5)

print(var_flutuante_01, var_flutuante_02)

10.5 20.5

In [20]:
# Variáveis Boleanas
var_boolean_01 = True
var_boolean_02 = False

print(var_boolean_01, var_boolean_02)

True False

# **4. Tipos de Dados**

  1. Listas - São criadas usando [] (Colchetes)
  2. Tuplas - São criadas usando () (Paranteses)
  3. Dicionários - São criadas usando {} (Chaves)

    Esses tipos de dados podem receber qualquer tipo de informação, inclusive Operações Aritméticas.

In [21]:
# Listas
lista_exemplo_01 = [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 ]
lista_exemplo_02 = [ 'Douglas', 'Rodrigues', 'Souza' ]
lista_exemplo_03 = [ 1, 2, 3, 'Douglas', 'Rodrigues', 'Souza' ]
lista_exemplo_04 = [ 1, 2, 3, 'Douglas', 'Rodrigues', 'Souza', True, False ]
lista_exemplo_05 = [ 1, 2, 3, 'Douglas', 'Rodrigues', 'Souza', True, False, [ 1, 2, 3, 'Douglas', 'Rodrigues', 'Souza', True, False ] ]

print(lista_exemplo_01, lista_exemplo_02, lista_exemplo_03, lista_exemplo_04, lista_exemplo_05)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10] ['Douglas', 'Rodrigues', 'Souza'] [1, 2, 3, 'Douglas', 'Rodrigues', 'Souza'] [1, 2, 3, 'Douglas', 'Rodrigues', 'Souza', True, False] [1, 2, 3, 'Douglas', 'Rodrigues', 'Souza', True, False, [1, 2, 3, 'Douglas', 'Rodrigues', 'Souza', True, False]]

In [22]:
# Tuplas !!!!!! são imutaveis
tupla_exemplo_01 = ( 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 )
tupla_exemplo_02 = ( 'Douglas', 'Rodrigues', 'Souza' )
tupla_exemplo_03 = ( 1, 2, 3, 'Douglas', 'Rodrigues', 'Souza' )
tupla_exemplo_04 = ( 1, 2, 3, 'Douglas', 'Rodrigues', 'Souza', True, False )
tupla_exemplo_05 = ( 1, 2, 3, 'Douglas', 'Rodrigues', 'Souza', True, False, ( 1, 2, 3, 'Douglas', 'Rodrigues', 'Souza', True, False ) )

print(tupla_exemplo_01, tupla_exemplo_02, tupla_exemplo_03, tupla_exemplo_04, tupla_exemplo_05)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10) ('Douglas', 'Rodrigues', 'Souza') (1, 2, 3, 'Douglas', 'Rodrigues', 'Souza') (1, 2, 3, 'Douglas', 'Rodrigues', 'Souza', True, False) (1, 2, 3, 'Douglas', 'Rodrigues', 'Souza', True, False, (1, 2, 3, 'Douglas', 'Rodrigues', 'Souza', True, False))

In [23]:
# Dicionarios
dicionario = {
    'Index 01': 'Douglas',
    'Index 02': 'Rodrigues',
    'Index 03': 'Souza',
    'lista_exemplo_01': [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 ],
}

print(dicionario)

{'Index 01': 'Douglas', 'Index 02': 'Rodrigues', 'Index 03': 'Souza', 'lista_exemplo_01': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]}